  <mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Plan de carrera</span>
    <span class="example-spacer">  
        <a class="nav-link"  href="/home"><mat-icon>home</mat-icon>Home</a>
        <a class="nav-link" href="/quienes-somos"><mat-icon>info</mat-icon>Quienes somos</a>        
        <a class="nav-link" href="/resources"><mat-icon>description</mat-icon>Recursos</a>
        <a class="nav-link" href="/form-employee"><mat-icon>assignment_ind</mat-icon>Agregar Empleado</a>
        <a class="nav-link" href="/contact"><mat-icon>account_box</mat-icon>Contacto</a>
    </span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
