<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Titulo libro</mat-card-title>
          <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/books.avif" alt="Photo of book">
        <mat-card-content>
          <p>
           Description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Titulo libro</mat-card-title>
          <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/books.avif" alt="Photo of book">
        <mat-card-content>
          <p>
           Description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Titulo libro</mat-card-title>
          <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/books.avif" alt="Photo of book">
        <mat-card-content>
          <p>
           Description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Titulo libro</mat-card-title>
          <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/books.avif" alt="Photo of book">
        <mat-card-content>
          <p>
           Description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Titulo libro</mat-card-title>
          <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/books.avif" alt="Photo of book">
        <mat-card-content>
          <p>
           Description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Titulo libro</mat-card-title>
          <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/images/books.avif" alt="Photo of book">
        <mat-card-content>
          <p>
           Description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
