.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    color: #1b1a1a;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #050505;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    color: #baa8ec;
  }